/**************************************************************************************************/
/*************************************** HEADER ***************************************************/
/**************************************************************************************************/
header {
  padding: 2rem;
  background-color: #011627;
  display: flex;
  align-items: center;
}

header svg {
  font-size: 4rem;
  cursor: pointer;
}

header svg:hover {
  color: #99a2a9;
}

.logo--TCG {
  width: 15rem;
}

.centre--helper {
  margin: 0 auto;
}

/**************************************************************************************************/
/*************************************** SIDE BAR *************************************************/
/**************************************************************************************************/
.sidebar {
  width: 24rem;
  background-color: #011627;
  position: absolute;
  height: 86vh;
  padding: 0 3rem;
  transition: all 0.5s;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.active {
  left: 0;
}

.sidebar span {
  font-family: "Ultra";
  font-size: 2.1rem;
}

ul li {
  list-style-type: none;
  margin: 2.5rem 0;
  /* font-weight: 800; */
}

ul li a {
  color: #eaecef;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  display: block;
}

ul li a:hover,
ul li a:active {
  background: #172b4b;
}

.logo {
  margin-top: 2.5rem;
  width: 5rem;
}

picture {
  display: flex;
  justify-content: center;
}

.tab {
  font-size: 24px;
  display: flex;
  gap: 1.5rem;
}

.sideBar-address {
  font-size: 9px;
}

/**************************************************************************************************/
/****************************************** GENERAL ***********************************************/
/**************************************************************************************************/
.start-text {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-size: 3rem;
  font-family: "Ultra";
}

.border-top {
  border-top: 5px solid currentColor;
  border-top-left-radius: 500%; /* Rayon du coin supérieur gauche */
  border-top-right-radius: 500%; /* Rayon du coin supérieur droit */
  width: 125rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.margin-left--helper {
  margin-left: -2rem;
}

.margin-bottom--helper {
  margin-bottom: 2rem;
}

.margin-top--helper {
  margin-top: 3rem;
}

/**************************************************************************************************/
/*************************************** INSTALL PAGE *********************************************/
/**************************************************************************************************/
.install {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/**************************************************************************************************/
/***************************************** ACCOUNT ************************************************/
/**************************************************************************************************/
.account--cards {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cards {
  margin-bottom: 2rem;
}

/**************************************************************************************************/
/***************************************** STORE **************************************************/
/**************************************************************************************************/
.card:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.card-not-buyable {
  transform: scale(0.93);
}

.grid {
  margin-left: 5rem;
  /* margin-left: 25rem; */
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* == 1fr 1fr 1fr 1fr 1fr */
  gap: 5rem;
}

.container {
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  height: 75vh;
}

.pokemonCard {
  cursor: pointer;
}

.cardGrey {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 2.5rem;
  font-family: "Ultra";
}

/**************************************************************************************************/
/***************************************** BOOSTERS ***********************************************/
/**************************************************************************************************/
.logo--collection {
  width: 40rem;
  padding: 5rem;
}

.logo--collection:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #ffe066);
}

.collections {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-family: "Ultra";
}

.pokemon-cards-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.animated {
  animation: descend 3s ease-in-out;
}

@keyframes descend {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.grid--3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.btn--OK {
  padding: 1rem 2rem;
  background-color: #011627;
  border-color: #99a2a9;
}

.btn--OK:hover,
.btn--OK:active {
  cursor: pointer;
  background-color: #172b4b;
}

.container--btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.read-the-docs {
  color: #888;
}

.balance {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.series img {
  width: 20rem;
}

.series img:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

*/
